<%= form_for @membership_list do |f| %>

    <% if @membership_list.errors.any? %>
    <div class="error_messages">
      <h3>Form is invalid</h3>
      <ul>
        <% for message in @membership_list.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= f.label :start_date, "Start Date:" %><br/>
      <%= f.date_select :start_date %>
    </div>

    <div class="field">
      <%= f.label :end_date, "End Date:" %><br/>
      <%= f.date_select :end_date, :default => Time.now + 6.years,
                                   :end_year => Time.now.year + 100 %>
    </div>

    <div class="field">
      <%= f.label :addresses, "Email Addresses:" %><br/>
      <%= f.text_area :addresses %>
    </div>


    <div class="action"><%= f.submit %></div>

<% end %>
