<% if !comment.hidden? || is_admin? %>
<%= "<div class=\"comment#{comment.hidden? ? ' hidden_comment' : ''}\">".html_safe %>

  <div class="comment_header">
    <div class="comment_byline">
      <%= comment.byline %>
    </div>

    <div class="comment_time">
      <%= time_ago_in_words(comment.created_at) %> ago
    </div>

  </div>

  <div class="comment_body">
    <%= comment.body %>
  </div>

  <% if is_admin? %>
    <div class="hide_controls">
      <% if comment.hidden? %>
        <%= link_to "Unhide", {:controller => "comments", :action => "unhide", :id => comment.id} %>
      <% else %>
        <%= link_to "Hide", {:controller => "comments", :action => "hide", :id => comment.id} %>
      <% end %>
    </div>
  <% end %>

</div>
<% end %>
