<%= form_for @article do |f| %>

    <% if @article.errors.any? %>
    <div class="error_messages">
      <h3>Form is invalid</h3>
      <ul>
        <% for message in @article.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>


<div class="field">
  <%= f.label :title, "Title:" %><br/>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :section_id, "Section:"%><br/>
  <%= f.select :section_id, all_sections_as_text_paths_with_id %>
</div>

<div class="field">
  <%= f.label :body, "Article Text:" %><br/>
  <%= f.text_area :body %>
</div>
<div class="action"><%= f.submit %></div>

<% end %>
