<%= form_for @article do |f| %>
  
  <%= render :partial => 'fields',
             :locals => {:f => f,
                         :article => @article} %>

  <h3>Editor Comments:</h3>
  <div class="editor_comments">
    <%= @article.editor_comments || "No comments yet." %>
  </div>

  <% if @article.published? %>
    <div class="editing_published_warning">
      This article has been published! Please be careful when editing it.
    </div>
  <% end %>


  <div class="action">
    <%= f.submit "Preview", :name => 'preview_button' %>
    <%= f.submit "Save" %>
    <% if @article.visibility > 1 %>
      <%= f.submit "Withdraw Article", :name => 'withdraw_button' %>
    <% else %>
      <%= f.submit "Submit for Review", :name => 'submit_for_review_button' %>
    <% end %>
  </div>

<% end %>
