
<% if @article.published? %>
  <div class="editing_published_warning">
    This article has been published! Please be careful when editing it.
  </div>
<% end %>

<%= form_for @article do |f| %>

  <%= render :partial => 'fields',
             :locals => {:f => f,
                         :article => @article} %>


  <div class="field">
    <%= f.label :editor_comments, "Editor Comments:" %><br/>
    <%= f.text_area :editor_comments %>
  </div>

  <%= hidden_field :review, :value => 'review' %>

  <% if @article.published? %>
    <div class="editing_published_warning">
      This article has been published! Please be careful when editing it.
    </div>
  <% end %>

  <div class="action">
    <%= f.submit "Save" %>
    <% if @article.visibility < 3 %>
    <%= f.submit "Publish", :name => 'confirm_publication_button' %>
    <% else %>
      <%= f.submit "Withdraw Article", :name => 'withdraw_from_publication_button', :confirm => 'Are you sure you want to withdraw this article?' %>
    <% end %>
  </div>

<% end %>

<hr/>

<div class="preview">
  <h2><%= @article.title %></h2>
  <%= render_sanitized_markdown(@article.body) %>
</div>
