<%= form_for @article do |f| %>

    <% if @article.errors.any? %>
    <div class="error_messages">
      <h3>Form is invalid</h3>
      <ul>
        <% for message in @article.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>


<div class="field">
  <%= f.label :title, "Headline:" %><br/>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :section_id, "Section:" %><br/>
  <%= f.select :section_id, all_sections_as_text_paths_with_id %>
</div>

<div class="field">
  <%= f.label :byline, "Byline:" %><br/>
  <%= f.text_field :byline, :value => @article.byline || (current_user ? current_user.name : "") %>
</div>

<div class="field">
  <%= f.label :tagline, "Tagline:" %><br/>
  <%= f.text_field :tagline %>
</div>

<div class="field">
  <%= f.label :body, "Article Text:" %><br/>
  <%= f.text_area :body %>
</div>

<div class="field">
  <%= f.label :tag, "Tags:" %><br/>
  <%= f.text_field :tag %>
</div>

<div class="field">
  <%= f.label :editor_comments, "Editor Comments:" %><br/>
  <%= f.text_area :editor_comments %>
</div>

<%= hidden_field :review, :value => 'review' %>

<div class="action">
  <%= f.submit %>
  <% if @article.visibility < 3 %>
  <%= f.submit "Publish", :name => 'publish_button', :confirm => 'Are you sure you want to publish this article' %>
  <% else %>
    <%= f.submit "Withdraw Article", :name => 'withdraw_from_publication_button', :confirm => 'Are you sure you want to withdraw this article' %>
  <% end %>

</div>

<% end %>

<hr/>

<div class="preview">
  <h2><%= @article.title %></h2>
  <%= @article.render %>
</div>
