<% if @article %>

  <div class="article">
    <h2>
      <%= @article.title %>
    </h2>

    <div class="author">
      <%= @article.byline %>
    </div>

    <div class="body">
      <%= @article.render %>
      <%#= markdown(@article.body) %>
    </div>

    <% if current_user && current_user == @article.user %>
      <%= link_to "Edit this article", edit_article_path(@article) %>
    <% end %>

    <hr/>

    <% @article.comments.each do |c| %>

      <%= render c %>

    <% end %>

    <hr/>

    <% if current_user %>
      
      <div class="comment_form">

        <h4>Write a Comment</h4>

        <%= form_tag article_comments_path(@article) do %>

        <div class="field">
          <%= label_tag :byline, "Name:" %><br/>
          <%= text_field_tag :byline, nil, :name => 'comment[byline]' %>
        </div>

        <div class="field">
          <%= label_tag :body, "Comment:" %><br/>
          <%= text_area_tag :body, nil, :name => 'comment[body]' %>
        </div>

        <div class="action">
          <%= submit_tag "Comment" %>
        </div>
        
    <% end %>
    </div>

  <% else %>

    You must be logged in to post a comment

<% end %>


</div>

<%# trivial case for non-existence of article %>
<% else %>
  <h2>No such article</h2>
<% end %>
