<div class="article">
  <h2>
    <%= @article.title %>
  </h2>

  <div class="author">
    <%= link_to @article.byline, user_path(@article.user) %>
  </div>

  <div class="tagline">
    <%= @article.tagline %>
  </div>

  <div class="body">
    <%= @article.render %>
    <%#= markdown(@article.body) %>
  </div>

  <% if current_user && current_user == @article.user %>
    <%= link_to "Edit this article", edit_article_path(@article) %>
  <% end %>

  <hr/>

  <% @article.comments.each do |c| %>

    <%= render c %>

  <% end %>

  <hr/>

  <% if current_user %>
    
    <div class="comment_form">

      <h4>Write a Comment</h4>

      <%= form_tag article_comments_path(@article) do %>

        <p>Comment As:</p>
        <div class="field">
          <%= radio_button_tag :anonymous, "false", true, :name => 'comment[anonymous]' %>
          <%= label_tag :anonymous_false, current_user.name %>
          <br/>
          <%= radio_button_tag :anonymous, "true", false, :name => 'comment[anonymous]' %>
          <%= label_tag :anonymous_true, "Anonymous (admins will still be able to identify you)" %>
        </div>
        <br/>

        <div class="field">
          <%= label_tag :body, "Comment:" %><br/>
          <%= text_area_tag :body, nil, :name => 'comment[body]' %>
        </div>
        
        <div class="action">
          <%= submit_tag "Comment" %>
        </div>
        
      <% end %>
    </div>

  <% else %>

    You must be <%= link_to "logged in", "/login" %> to post a comment

  <% end %>

</div>

<div class="sidebar">

  <div class="story_list top_stories">
    <div class="story_list_title">
      Top Stories
    </div>
    <ul>
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
    </ul>
  </div>

  <div class="story_list featured_articles">
    <div class="story_list_title">
      Featured Articles
    </div>
    <ul>
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
    </ul>
  </div>

  <div class="story_list related_articles">
    <div class="story_list_title">
      Related Articles
    </div>
    <ul>
      <li>Item</li>
      <li>Item</li>
      <li>Item</li>
    </ul>
  </div>

</div>
