<%= render :partial => 'shared/breadcrumbs',
           :locals => {:section => @article.section,
                       :detail => link_to(@article.title, canonical_article_path(@article))} %>

<div class="article">

  <div class="header">
    <div class="authorpic">
      <%= image_tag 'authorpic.png' %>
      <div class="author">
        <%= link_to @article.byline, user_path(@article.user) %>
      </div>
    </div>
    <h2>
      <%= @article.title %>
    </h2>
    <div class="date">
      <%= @article.date_string %>
    </div>
  </div>


  <div class="body">
    <%= render_sanitized_markdown(@article.body) %>
    <%#= markdown(@article.body) %>
  </div>


  <div class="footer">
    <div class="comments_title">
      Comments
    </div>
    <div class="comments">

      <% @article.comments.each do |c| %>

        <%= render c %>

      <% end %>

    </div>

    <% if current_user %>
      
      <div class="comment_form">

        <h4>Write a Comment</h4>

        <%= form_tag article_comments_path(@article) do %>

          <div class="field">
            <p>Comment As:</p>
            <%= radio_button_tag :anonymous, "false", true, :name => 'comment[anonymous]' %>
            <%= label_tag :anonymous_false, current_user.name %>
            <br/>
            <%= radio_button_tag :anonymous, "true", false, :name => 'comment[anonymous]' %>
            <%= label_tag :anonymous_true, "Anonymous (admins will still be able to identify you)" %>
          </div>
          <br/>

          <div class="field">
            <%= label_tag :body, "Comment:" %><br/>
            <%= text_area_tag :body, nil, :name => 'comment[body]' %>
          </div>
          
          <div class="action">
            <%= submit_tag "Comment" %>
          </div>
          
        <% end %>
      </div>

    <% else %>

      You must be <%= link_to "logged in", "/login" %> to post a comment

    <% end %>

  </div>


</div>


<% content_for :sidebar do %>

  <%= render :partial => 'sidebar',
             :locals => {:article => @article} %>

<% end %>
