<div class="user_articles">
  
  <div class="draft_articles display_area">

    <h3>Draft Articles</h3>
    <ul>
      <% @draft_articles.each do |a| %>
        <li>
          <%= link_to a.title, edit_article_path(a) %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @draft_articles, :param_name => :draft_page %>
  </div>

  <div class="review_articles display_area">
    <h3>Articles Under Review</h3>
    <ul>
      <% @review_articles.each do |a| %>
        <li>
          <%= link_to a.title, edit_article_path(a) %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @review_articles, :param_name => :draft_page %>
  </div>


  <div class="published_articles display_area">
    <h3>Published Articles</h3>

    <ul>
      <% @published_articles.each do |a| %>
        <li>
          <%= link_to a.title, edit_article_path(a) %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @published_articles, :param_name => :published_page %>
  </div>

</div>

<div class="buttons">
  <div class="green_button">
    <%= link_to "Create Article", new_article_path %>
  </div>
</div>
