<h2>
  <%= @user.name %>
</h2>

<h3>Articles</h3>

<% @articles.each do |a| %>
  <%= render :partial => 'shared/article_entry', :locals => {:article => a} %>
<% end %>

<%= will_paginate @articles %>

<% if @user == current_user %>

  <% if @user.member? %>
    Congratulations, you're a full member of The Yorker.<br/> <br/> 
    <div class="green_button">
      <%= link_to "Create Article", new_article_path %>
    </div>
  <% else %>
    You're not a full member of The Yorker. If you'd like to write for The Yorker,
    please contact <%= mail_to "editor@theyorker.co.uk", "the editor" %>.
  <% end %>

  <div class="red_button">
    <%= link_to "Change Password", edit_user_path(@user) %>
  </div>

<% elsif current_user && current_user.admin? %>

  <hr/>

  <div class="user_email">
    <%= mail_to @user.email %>
  </div>

  <div class="suspend_control">
    <% if @user.suspended? %>
      <%= link_to "Unsuspend", {:controller => "users", :action => "unsuspend", :id => @user.id} %>
    <% else %>
      <%= link_to "Suspend", {:controller => "users", :action => "suspend", :id => @user.id} %>
    <% end %>
  </div>

<% end %>
