<%= render :partial => 'shared/breadcrumbs', :locals => {:section => @section} %>

<div class="headline_image">
  <h2 class="hl">Image Goes<br/> Here</h2>
</div>

<div class="article_list">
  <% @section.published_articles.each do |a| %>
    <%= render :partial => 'shared/article', :locals => {:article => a} %>
  <% end %>
</div>


<% @section.children.each do |s| %>
  <%= render s %>
<% end %>


<% content_for :sidebar do %>

  <div class="top_stories">
    <h3>Top Stories</h3>
    <ol>
      <% @section.latest_articles_from_children_by_rank(3).each_with_index do |a,i| %>
        <li>
          <%= link_to image_tag(number_to_picture(i+1)) + a.title, article_path(a) %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="adspace1">
    <%= image_tag "adspace250x250.png", :width => "250px" %>
  </div>

  <div class="featured_list">
    <h3>Editor's Picks</h3>
    <ol>
      
    </ol>
  </div>

  <div class="featured_list">
    <h3>Most Popular</h3>
    <ol>
    </ol>
  </div>

  <div class="featured_list">
    <h3>Recently Commented</h3>
    <ol>
      <% Article.featured(5).each do |a| %>
        <li>
          <%= link_to image_tag("ylogo_small_thumb.png") + a.title, article_path(a) %>
        <li>
      <% end %>
    </ol>
  </div>

<% end %>
