<%= render :partial => 'shared/breadcrumbs', :locals => {:section => @section} %>

<div class="headline_container">
  <div class="headline_image">
    <ul>
      <% @section.headline_articles.each do |a| %>
        <% if a %>
          <li>
            <%= image_tag a.headline_image %>
            <h2><%= link_to a.title, article_path(a) %></h2>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<!-- TODO: remove this section once it's impossible to publish
articles in non-leaf nodes -->
<div class="article_list">
  <% @section.published_articles.each do |a| %>
    <%= render :partial => 'shared/article', :locals => {:article => a} %>
  <% end %>
</div>


<% @section.children.each do |s| %>
  <%= render s %>
<% end %>


<% content_for :sidebar do %>
  <%= render :partial => 'sidebar', :locals => {:section => @section} %>
<% end %>
