<h2>Legacy Articles</h1>

<%= form_tag legacy_articles_path(), :method => 'get' do %>
<p>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search", :name => nil %>
  <%= link_to "Show All", legacy_articles_path %>
</p>
<% end %>

<table class="legacy_articles_list">
  <tr>
    <td><b>Id</b></td>
    <td><b>Title</b></td>
    <td><b>Byline</b></td>
    <td><b>Tagline</b></td>
    <td><b>Published At</b></td>
  </tr>

<% @legacy_articles.each do |legacy_article| %>
  <tr>
    <td><%= legacy_article.old_id %></td>
    <td><%= link_to legacy_article.title, legacy_article %></td>
    <td><%= legacy_article.byline %></td>
    <td><%= legacy_article.tagline %></td>
    <td><%= legacy_article.publish_at %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @legacy_articles %>
