<div class="article">

  <div class="header">
    <div class="authorpic">
      <%= image_tag 'authorpic.png' %>
      <div class="author">
        <%= link_to @legacy_article.byline, user_path(@legacy_article.user) %>
      </div>
    </div>
    <h2>
      <%= @legacy_article.title %>
    </h2>
    <div class="date">
      <%= @legacy_article.date_string %>
    </div>
  </div>


  <div class="body">
    <%= render_unsafe_markdown(@legacy_article.body) %>
  </div>

</div>


<% content_for :sidebar do %>

  <%#= render :partial => 'articles/sidebar',
             :locals => {:article => @legacy_article} %>

<% end %>

<% content_for :titlebar do %>
  <%= @legacy_article.title %> - 
<% end %>
