<%= form_for @image do |f| %>

  <% if @image.errors.any? %>
    <div class="error_messages">
      <h3>Form is invalid</h3>
      <ul>
        <% for message in @image.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title, "Title:" %><br/>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :picture, "Image File:"%>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :description, "Description:" %><br/>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :tags, "Tags:" %><br/>
    <%= f.text_field :tags %>
  </div>

  <div class="field">
    <%= f.label :source_url, "Source URL:" %><br/>
    <%= f.text_field :source_url, :value => (@image.source_url || 'http://') %><br/>
    (optional)
  </div>

  <div class="field">
    <%= f.label :copyright_owner, "Copyright Owner:" %><br/>
    <%= f.text_field :copyright_owner %>
  </div>

  
  <div class="field">
    <%= f.label :image_credit, "Image Credit:" %><br/>
    <%= f.text_field :image_credit %><br/>
    (optional)
  </div>

  <div class="field">
    <%= f.label :copyright_justification, "Copyright Justification:" %><br/>
    <%= f.text_area :copyright_justification %><br/>
    (optional)
  </div>
  

  <div class="field">
    <%= f.label :checked, "Copyright Checked:" %>
    <%= f.check_box :checked %>
  </div>

  <div class="action">
    <%= f.submit "Save" %>
  </div>

<% end %>
