<h2>Images</h2>

<%= form_tag images_path(:layout => @nolayout ? 'false' : 'true'), :method => 'get' do %>
<p>
  <%= text_field_tag :q, params[:q] %>
  <%= hidden_field_tag :layout, @nolayout ? 'false' : 'true' %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>


<% if @images %>
  <% @images.each do |result| %>
    <div class="image_entry">
      <%= image_tag result.picture.url(:small_thumb) %>
      <%= link_to result.title, image_path(result, :layout => @nolayout ? 'false' : 'true') %>
    </div>
  <% end %>
<% end %>

<div class="green_button">
  <%= link_to "Upload New Image", new_image_path, :class => "green_button" %>
</div>

<p class="upload_caution">
  Please try to avoid uploading duplicate images!
</p>
