<h4><%= @image.title %></h4>

<p id="image_id" style="display:none"><%= @image.id %></p>

<p>
  <%= image_tag @image.picture.url :medium %>
</p>

<p>
  <%= @image.description %>
</p>

<p>
  <b>Tags:</b>
  <%= @image.tags %>
</p>

<p>
  <b>Source:</b>
  <%= "<a href='#{@image.source_url}'>#{@image.source_url}</a>".html_safe %>
</p>

<p>
  <b>Copyright Owner:</b>
  <%= @image.copyright_owner %>
</p>

<p>
  <b>Image Credit:</b>
  <%= @image.image_credit %>
</p>

<p>
  <b>Copyright Justification:</b>
  <%= @image.copyright_justification %>
</p>

<% if @image.checked %>
  <p>
    The copyright status of this image has been checked
  </p>
<% else %>
  <p>
    The copyright status of this image still needs to be checked
  </p>
<% end %>


<div class="set_as_article_image_button green_button">
  <a href="#">Set as Article Image</a>
</div>

<%= javascript_tag  do %>
  (function() {
    var handler = function() {
      window.parent.$('input#article_image_id').val($('p#image_id').text());
    };
    $('.set_as_article_image_button').click(handler);
    if (window === window.parent) {
      $('.set_as_article_image_button').hide();
    }
  })()
<% end -%>


<h4>Embed this image</h4>

<%= form_tag do %>
  <%= label_tag :caption, "Caption:" %><br/>
  <%= text_field_tag :caption %>
<% end %>

<hr/>

<h4>Medium size</h4>

<p>
  Copy and paste the following code:
</p>

<p>
  <tt>
    &lt;div class='main_image'&gt;&lt;img src='<%= @image.picture.url(:medium) %>' / &gt;&lt;div class='image_caption'&gt;<span class="caption_here"></span> &ampcopy; <%= @image.copyright_owner %><%= @image.image_credit != "" ? " Image Credit: #{@image.image_credit}" : "" %>&lt;/div&gt;&lt;/div&gt;
  </tt>
</p>

<hr/>

<h4>Full Size</h4>

<p>
  Copy and paste the following code:
</p>

<p>
  <tt>
    &lt;div class='big_image'&gt;&lt;img src='<%= @image.picture.url %>' / &gt;&lt;div class='image_caption'&gt;<span class="caption_here"></span> &ampcopy; <%= @image.copyright_owner %><%= @image.image_credit != "" ? " Image Credit: #{@image.image_credit}" : "" %>&lt;/div&gt;&lt;/div&gt;
  </tt>
</p>

<%= javascript_tag do %>
  (function() {
  var handler = function() {
  $('.caption_here').text($('input#caption').val());
  }
  $('input#caption').change(handler)
  $('input#caption').keyup(handler)
  handler()
  })()
<% end -%>

<hr/>
