<h4><%= @image.title %></h4>

<p id="image_id" style="display:none"><%= @image.id %></p>

<div class="image_preview">
  <%= image_tag @image.picture.url :medium %>
</div>

<p>
  <%= @image.description %>
</p>

<p>
  <b>Tags:</b>
  <%= @image.tags %>
</p>

<p>
  <b>Source:</b>
  <%= "<a href='#{@image.source_url}'>#{@image.source_url}</a>".html_safe %>
</p>

<p>
  <b>Copyright Owner:</b>
  <%= @image.copyright_owner %>
</p>

<p>
  <b>Image Credit:</b>
  <%= @image.image_credit %>
</p>

<p>
  <b>Copyright Justification:</b>
  <%= @image.copyright_justification %>
</p>

<% if @image.checked %>
  <p>
    The copyright status of this image has been checked
  </p>
<% else %>
  <p>
    The copyright status of this image still needs to be checked
  </p>
<% end %>


<div class="set_as_article_image_button green_button">
  <a href="#">Set as Article Image</a>
</div>

<%= javascript_tag  do %>
  (function() {
    var handler = function() {
      window.parent.$('input#article_image_id').val($('p#image_id').text());
      window.parent.$('.article_image_preview').html($('.image_preview').html())
    };
    $('.set_as_article_image_button').click(handler);
    if (window === window.parent) {
      $('.set_as_article_image_button').hide();
    }
  })()
<% end -%>


<h4>Embed this image</h4>

<hr/>

<h4>Fit Article Around Image</h4>

<p>
  Type your desired caption, then copy and paste the code from the
  grey box into your article at the place where you want the image.
</p>

<div class="embed_config">
  <div class="caption_form_box">
    <%= form_tag do %>
      <%= text_field_tag :medium_caption, nil, :placeholder => "Type Caption Here" %>
    <% end %>
  </div>

  <div class="embed_code">
    <tt>
      &lt;%= image_with_caption <%= @image.id %>, &quot;<span class="medium_caption_here"></span>&quot; %&gt;
    </tt>
    
  </div>
</div>

<hr/>

<h4>Full Article Width</h4>

<p>
  Type your desired caption, then copy and paste the code from the
  grey box into your article at the place where you want the image.
</p>

<div class="embed_config">
  <div class="caption_form_box">
    <%= form_tag do %>
      <%= text_field_tag :large_caption, nil, :placeholder => "Type Caption Here" %>
    <% end %>
  </div>

  <div class="embed_code">
    <tt>
      &lt;%= image_with_caption <%= @image.id %>, &quot;<span class="large_caption_here"></span>&quot;, :original %&gt;
    </tt>
  </div>
  
</div>


<%= javascript_tag do %>
  (function() {
  var escape_quotes = function(str) {
  return str.replace(/"/g, "\\\"");
  }

  /* man, this is ugly. */
  var medium_handler = function() {
    $('.medium_caption_here').text(escape_quotes($('input#medium_caption').val()));
  };
  $('input#medium_caption').change(medium_handler);
  $('input#medium_caption').keyup(medium_handler);
  medium_handler();

  var large_handler = function() {
    $('.large_caption_here').text(escape_quotes($('input#large_caption').val()));
  };
  $('input#large_caption').change(large_handler);
  $('input#large_caption').keyup(large_handler);
  large_handler();
  })();
<% end -%>

<hr/>
