<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>The Yorker</title>
    <link rel="shortcut icon" href="/favicon.png" / >
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="page_container">
      <div class="account_links">
        <% if current_user %>
          <ul>
            <li>Logged in as
              <%= current_user.name %>.
            </li>
            <li>
              <%= link_to "My Account", user_path(current_user) %></li>
            <li>
              <%= link_to "Logout", logout_path %>
            </li>
          </ul>
        <% else %>
          <ul>
            <li>Not logged in.</li>
            <li>
              <%= link_to "Login/Sign up", login_path %>
            </li>
          </ul>
        <% end %>
        <br/>
      </div>

      <div class="banner_top">
        <h1></h1>
        <%= link_to image_tag('titlebanner.png', :width => '100%'), root_path %>
      </div>

      <div class="toplevel_menu">
        <ul>
          <li><%= link_to "HOME", root_path %></li>
          <%= toplevel_sections_list %>
        </ul>

        <div class="socialmedia">
          <ul>
            <li>Follow us on</li>
            <li>
              <a href="http://www.facebook.com/theyorker?ref=ts">
                <%= image_tag "f_logo.png",
                            :alt => "Facebook",
                            :title => "Facebook",
                            :class => "f_logo" %>
                Facebook
              </a>
            </li>
            <li>and</li>
            <li>
              <a href="http://twitter.com/#!/theyorkeruk">
                <%= image_tag "follow_on_twitter.png",
                              :alt => "Follow us on Twitter",
                              :title => "Follow us on Twitter",
                              :class => "twitter_follow"%>
              </a>
            </li>
          </ul>
          <br/>
        </div>

      </div>

      <!-- <div class="priority_content"> -->
        <!-- <div class="adspace2"> -->
          <%#= image_tag "adspacetop.png", :width => "728px" %>
        <!-- </div> -->
      <!-- </div> -->

      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>

      <div class="content_container">

        <div class="main_content">
          <%= yield %>
        </div>

        <div class="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>
      

      <div class="footer">
        <div class="footerlinks">
          <%= render :partial => 'pages/list' %>
          <!-- <ul> -->
            <!-- <li><a href="#">About</a></li> -->
            <!-- <li><a href="#">Join</a></li> -->
            <!-- <li><a href="#">Contact</a></li> -->
            <!-- <li><a href="#">Advertising</a></li> -->
            <!-- <li><a href="#">FAQs</a></li> -->
            <!-- <li><a href="#">Privacy Policy</a></li> -->
          <!-- </ul> -->
        </div> 
        <div class="copynotice">
          Copyright 2007-<%= Time.now.year %> The Yorker Ltd. 
        </div>
      </div>

      
    </div>

    
    <!-- google analytics -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-864229-2");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>
  </body>
</html>
