<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>The Yorker</title>
  <%= stylesheet_link_tag "member" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="account_links">
    <% if current_user %>
    <ul>
      <li>Logged in as
         <%= current_user.name %>.
      </li>
      <li>
           <%= link_to "My Account", user_path(current_user) %></li>
      <li>
           <%= link_to "Logout", logout_path %>
      </li>
    </ul>
    <% else %>
    <ul>
      <li>Not logged in.</li>
      <li>
        <%= link_to "Login/Sign up", login_path %>
      </li>
    </ul>
    <% end %>
    <br/>
  </div>

  <h1>The Yorker</h1>

  <div class="toplevel_menu">
    <ul>
      <li><%= link_to "Dashboard", "#" %></li>
      <li><%= link_to "Articles", "#" %></li>
      <li><%= link_to "Sections", "#" %></li>
      <li><%= link_to "Comments", "#" %></li>
    </ul>
    <br/>
  </div>

  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <div class="content_container">
    <%= yield %>
  </div>

</body>
</html>
