<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Members Area - The Yorker</title>
  <%= stylesheet_link_tag "member" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="top_container">
  <div class="account_links">
    <% if current_user %>
    <ul>
      <li>Logged in as
         <%= current_user.name %>.
      </li>
      <li>
           <%= link_to "My Account", user_path(current_user) %></li>
      <li>
           <%= link_to "Logout", logout_path %>
      </li>
    </ul>
    <% else %>
    <ul>
      <li>Not logged in.</li>
      <li>
        <%= link_to "Login/Sign up", login_path %>
      </li>
    </ul>
    <% end %>
    <br/>
  </div>

  <%= link_to image_tag('titlebanner.png', :width => '500px'), root_path %>

  <h1>Members Area</h1>

  <div class="toplevel_menu">
    <ul>
      <li><%= link_to "Articles", articles_user_path(current_user) %></li>

      <% if !current_user.sections.empty? %>
        <li><%= link_to "Sections", sections_user_path(current_user) %></li>
      <% end %>

      <% if is_admin? %>
        <li><%= link_to "Admin", admin_user_path(current_user) %></li>
      <% end %>
    </ul>
    <br/>
  </div>

  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  </div>

  <div class="content_container">
    <%= yield %>
  </div>

</body>
</html>
